
@{
    ViewData["Title"] = "Index";
}
@model TestApp.Models.SearchViewModel

@using (Html.BeginForm("Search", "Main", FormMethod.Post))
{
    <div class="search-div">

        <label for="departurePoint" class="form-label">Відправлення з:</label>
        <input class="form-control" type="text" id="departurePoint" name="DeparturePoint" placeholder="Київ...">

        <label for="destination" class="form-label">Прибуття до:</label>
        <input class="form-control" type="text" id="destination" name="Destination" placeholder="Івано-Франківськ...">

        <div class="submit-div">
            <input class="btn-primary" id="submitbot" type="submit" value="Шукати">
        </div>
        
    </div>

}


